@import "./variables.scss";

body {
    padding: 0;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    > * + * {
        margin-top: 1em;
    }
}

.logos {
    max-width: 800px;
    margin: 0 auto;
    @media (min-width: $breakpoint) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em; 
    }
    @media (max-width: $breakpoint) {
        display: flex;
        flex-direction: column;
    }
    > a.logo-wrapper {
        background: pink;
        padding-bottom: 95%;
    }
}