{% extends 'main.html' %}
{% block start_scripts %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
{% block content %}
    <h1>logo generator <em>Coooolheit</em></h1>
    <form id="logo-generator-form">
    {{logo_generator_form.csrf_token}}
    {% for field in logo_generator_form %}
        {{field}}
    {% endfor %}
    </form>
{% endblock %}
{% block end_scripts %}
    <script>
        document.getElementById("logo-generator-form").onsubmit = submitLogoGeneratorForm
    </script>
{% endblock %}