{% extends 'main.html' %}
{% block start_scripts %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
{% block content %}
    <form method="POST" action="/">
    {{ form.brandName.label }} {{ form.brandName(size=50) }}
    {{ form.csrf_token }}
    {{ form.brandArchetype }}
    {{ form.brandField }}
    <input type="submit" value="Go">
</form>
{% endblock %}
{% block end_scripts %}
    <script>
        document.getElementById("logo-generator-form").onsubmit = submitLogoGeneratorForm
    </script>
{% endblock %}