{% extends 'main.html' %}
{% block start_scripts %}
    <script src="{{ url_for('static', filename='js/tinycolor-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/opentype.js') }}"></script>
    <script src="{{ url_for('static', filename='js/typography.js') }}"></script>
    <script src="{{ url_for('static', filename='js/oval.js') }}"></script>
    <script src="{{ url_for('static', filename='js/logoBuilder.js') }}"></script>
    <script src="{{ url_for('static', filename='js/helpers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/perlin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>Logo Results</h1>
    <div class="logos">
        {% for logo in logos %}
            {% if logo['previous_logo'] is defined %}
                <a href="{{ logo['vote_url'] }}" onclick="voterPass();" style="background-color: yellow;">
            {% else %}
                <a href="{{ logo['vote_url'] }}" onclick="voterPass();">
            {% endif %}
                <span class="logo"></span>
                <div style="font-size: 12px; max-width: 300px; overflow: hidden">
                {% for attribute in logo %}
                    <strong>{{ attribute }}</strong>:{{ logo[attribute] }}<br>
                {% endfor %}
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}
{% block end_scripts %}
    <script>
        const logos = {{ logos | tojson }}
        const logoWrappers = document.getElementsByClassName("logo")
        logos.forEach((logo, index) => {
            fetch(`/svg/Oswald/Oswald-Regular/${logo["brand_name"]}`)
            .then(response => response.json())
            .then(data => {
                [logo.shapeName, ...logo.args] = logo["shapes"][1].split("_")
                const path = document.createElementNS(svgNS, "path")
                path.setAttribute("d", data.svg)
                logo.svg = path
                buildLogo(logoWrappers[index], logo)
            })    
        })

        let previousLogo = JSON.parse(getCookie('previousLogo'));
        console.log(typeof (previousLogo));
        console.log(previousLogo);
        buildLogo(logoWrappers[index], previousLogo);

    </script>
{% endblock %}