{% extends 'main.html' %}
{% block start_scripts %}
    <script src="{{ url_for('static', filename='js/tinycolor-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/opentype.js') }}"></script>
    <script src="{{ url_for('static', filename='js/typography.js') }}"></script>
    <script src="{{ url_for('static', filename='js/oval.js') }}"></script>
    <script src="{{ url_for('static', filename='js/logoBuilder.js') }}"></script>
    <script src="{{ url_for('static', filename='js/helpers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/perlin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>Logo Results</h1>
    <div class="logos">
        {% for logo in logos %}
            <a href="{{ logo['Vote url'] }}" onclick="voterPass();">
                <span class="logo"></span>
                <small>{{logo}}</small>
                <small>{{logo["shapes"][1]}}</small>
            </a>
        {% endfor %}
    </div>
{% endblock %}
{% block end_scripts %}
    <script>
        const logos = {{ logos | tojson }}
        const logoWrappers = document.getElementsByClassName("logo")
        logos.forEach((logo, index) => {
            fetch(`/svg/Oswald/Oswald-Regular/${logo["brand_name"]}`)
            .then(response => response.json())
            .then(data => {
                [logo.shapeName, ...logo.args] = logo["shapes"][1].split("_")
                const path = document.createElementNS(svgNS, "path")
                path.setAttribute("d", data.svg)
                logo.svg = path
                buildLogo(logoWrappers[index], logo)
            })    
        })
    </script>
{% endblock %}