{% extends "main.html" %}
{% block start_scripts %}
    <script src="{{ url_for('static', filename='js/tinycolor-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/opentype.js') }}"></script>
    <script src="{{ url_for('static', filename='js/typography.js') }}"></script>
    <script src="{{ url_for('static', filename='js/oval.js') }}"></script>
    <script src="{{ url_for('static', filename='js/logoBuilder.js') }}"></script>
    <script src="{{ url_for('static', filename='js/helpers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/perlin.js') }}"></script>
{% endblock %}
{% block content %}
    <template id="logo-wrapper-template">
        <div class="logo-container">
            <div class="logo-wrapper">
                <div class="logo-icon"></div>
                <div class="logo-name"></div>
            </div>
        </div>
    </template>
    <div id="logos-wrapper">
    </div>
{% endblock %}
{% block end_scripts %}
    <script src="{{ url_for('static', filename='js/view_logos.js') }}"></script>
{% endblock %}